body{
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif, Arial;
    background-color: #f1f2f4;
    height: 1000px;
    padding-top: 70px;
}
body::-webkit-scrollbar {
    width: 0em; 
  }

  